:root
{
    --back: #183458;
    --backForm: #1f638e;
}

*
{
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: var(--back);
}

.escolha
{
    width: 35%;
    height: 40vh;
    background-color: var(--backForm);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.logoFormulario
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoFormulario img
{
    width: 50%;
    height: 90px;
}

.tituloEscolhas
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloEscolhas h1
{
    color: #fff;
    font-size: 33px;
    font-weight: bold;
}

.btnsEscolha
{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnsEscolha a
{
    width: 65%;
    height: 40px;
    background-color: #fff;
    color: var(--backForm);
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
}

.btnsEscolha a:hover
{
    background-color: var(--back);
    color: #fff;
}