*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.rodape-container
{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #183459;
}

.instituto-container
{
    width: 75%;
    height: 100px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.instituto-container a
{
    text-decoration: none;
    outline: none;
}

.instituto-container a, .instituto-container img
{
    width: 230px;
    height: 95px;
    cursor: pointer;
}

.copyright-container
{
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*comentario adicional*/ 
.copyright-container p
{
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}